[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "FastKRR"]
	path = FastKRR
	url = https://github.com/kybak90/fastkrr
[submodule "spheresmooth"]
	path = spheresmooth
	url = https://github.com/kybak90/spheresmooth
